@font-face {
  font-family: "Berkeley Mono";
  src: local("Berkeley Mono");
}

body {
  font: 14px "Berkeley Mono";
  max-width: 900px;
  overflow: hidden;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
}

header {
  margin: 17px;
  margin-bottom: 0px;
}

ul {
  padding-left: 20px;
}

hr {
  margin: 0px;
}

.title {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 5px;
}

.nav {
  display: flex;
  gap: 11px;
  margin-top: 5px;
}

.panels {
  display: flex;
  margin-right: 17px;
  flex-direction: row;
  flex-wrap: wrap;
}

.panel {
  display: flex;
  flex-direction: column;
  margin: 17px;
  margin-right: 0px;
  flex: 50%;
}

.content {
  border-bottom: 2px dashed #C6C6C6;
  line-height: 15px;
}

.arrow-button-img {
//  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel {
  margin-top: 17px;
}

.carousel-button {
    width: 39px;
    height: 20px;
    border: 1px solid black;
//    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-button-selected {
//    background: #F9D03F;
    background: #E2E2E2;
    border: 1px solid black;
//    border-color: #551A8B;
//    color: #551A8B;
}

.carousel-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 5px;
}

.carousel-invisible {
    display: none !important;
}

.carousel-content {
    display: flex;
    img {
        border: 1px solid black;
//        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 90%;
        height: auto;
    }

//    background: rgba(218, 41, 28, 0.9);
//    color: white;
    font-size: 12px;
    .caption {
//        background: #E2E2E2;
        display: flex;
        align-self: flex-end;
        justify-content: center;
        height: 18px;
        width: fit-content;
        margin-top: 4px;

    }
}

